<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SOCIAL SECURITY SCHEME NO.1
    </ion-title>
  </ion-toolbar>
</ion-header>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-header class="p-2" style="font-size:18px;">{{selectedSchemeName}}</ion-header>
      <ion-item>
        <ion-label position="floating">Date of Marriage / विवाह तारीख<span class="text-danger">*</span></ion-label>
        <ion-datetime displayFormat="DD MMMM, YYYY" picker-format="DD MMMM YYYY" [min]="dateReg" [max]="sysDate" [class.is-invalid]="dateOfMar.invalid && dateOfMar.touched" formControlName="dateOfMar"></ion-datetime>
        <div class="text-danger" *ngIf="dateOfMar.invalid && dateOfMar.touched">
           <small *ngIf="dateOfMar.errors['required']">Please Choose the marriage date.</small>
            <!--
          <small *ngIf="dateOfMar.errors['ngbDate']['requiredAfter']">Date should be before todays date</small>
          <small *ngIf="dateOfMar.errors['ngbDate']['invalid']">Enter valid date in (DD/MM/YYYY) format date</small>
          <small *ngIf="dateOfMar.errors['required']">Enter your marriage date.</small> -->
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date of Marriage Registration<br> विवाह नोंदणी तारीख<span class="text-danger">*</span></ion-label>
        <ion-datetime  displayFormat="DD MMMM, YYYY" picker-format="DD MMMM YYYY" [min]="dateOfMar.value" [max]="sysDate" [class.is-invalid]="dateOfMarReg.invalid && dateOfMarReg.touched" formControlName="dateOfMarReg"></ion-datetime>
        <div class="text-danger" *ngIf="dateOfMarReg.invalid && dateOfMarReg.touched">
            <small *ngIf=" dateOfMarReg.errors && dateOfMarReg.errors['required']">Enter your Date of Marriage Registration
                place.</small>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marriage Registration Place /<br> विवाह नोंदणी ठिकाण<span class="text-danger">*</span></ion-label>
        <ion-input id="marRegPlace" maxlength="120" [class.is-invalid]="marRegPlace.invalid && marRegPlace.touched" formControlName="marRegPlace" (ionBlur)="transliterateValue($event)"></ion-input>
        <div class="text-danger" *ngIf="marRegPlace.invalid && marRegPlace.touched">
          <small *ngIf=" marRegPlace.errors && marRegPlace.errors['required']">Enter your Marriage registration
            place.</small>
          <small *ngIf=" marRegPlace.errors && marRegPlace.errors['minlength']">Enter valid Marriage Registration
            Place.
          </small>
        </div>
      </ion-item>
      <ion-item *ngIf="marRegPlace_mr.value">
        <ion-label>{{marRegPlace_mr.value}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Marriage Registration Document Number/ विवाह नोंदणी दस्तऐवज क्रमांक</ion-label>
        <ion-input id="marRegDocNo" minlength="2" maxlength="20" [class.is-invalid]="marRegDocNo.invalid && marRegDocNo.touched" formControlName="marRegDocNo"></ion-input>
        <div class="text-danger" *ngIf="marRegDocNo.invalid && marRegDocNo.touched">
          <small *ngIf="marRegDocNo.errors && marRegDocNo.errors['required']">Enter your marriage registration
            Document No.
          </small>
          <small *ngIf="marRegDocNo.errors && marRegDocNo.errors['maxlength']">You have exceded the maxlength
          </small>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header style="font-size:20px;">APPLICANT'S SPOUSE DETAILS / अर्जदाराच्या जोडीदाराचा तपशील</ion-list-header>
      <ion-item>
        <ion-label position="floating">Full Name / पूर्ण नाव<span class="text-danger">*</span></ion-label>
        <ion-input [class.is-invalid]="fullNameSpouse.invalid && fullNameSpouse.touched" maxlength="120" minlength="3" formControlName="fullNameSpouse" id="fullNameSpouse"></ion-input>
        <div class="text-danger" *ngIf="fullNameSpouse.invalid && fullNameSpouse.touched">
          <small *ngIf="fullNameSpouse.errors && fullNameSpouse.errors['required']">Please Enter your
            fullName.</small>
          <small *ngIf="fullNameSpouse.errors && fullNameSpouse.errors['minlength']">Please Enter valid Full
            Name.</small>
        </div>
      </ion-item>
      <ion-item *ngIf="fullNameSpouse_mr.value">
        <ion-label disabled>{{fullNameSpouse_mr.value}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Aadhar Number / आधार क्रमांक<span class="text-danger">*</span></ion-label>
        <ion-input [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched" formControlName="aadharNumber"  minlength="12" maxlength="12" id="aadharNumber"></ion-input>
        <div class="text-danger" *ngIf="aadharNumber.invalid && aadharNumber.touched">
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['required']">Please Enter Your AADHAR
            number.</small>
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['maxlength']">You Have Reached Your
            Maximum.</small>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Relation / संबंध <span class="text-danger">*</span></ion-label>
        <ion-select formControlName="relationSpouse" id="relationSpouse" [class.is-invalid]="relationSpouse.invalid && relationSpouse.touched">
          <ion-select-option *ngFor="let each of getRelationArray|slice:3:5;" [value]="each.family_relation_id">{{each.relation_title_en}} / {{each.relation_title_mr}}</ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="relationSpouse.invalid && relationSpouse.touched">
          <small *ngIf="relationSpouse.errors && relationSpouse.errors['required']">Please Enter Relation.</small>
          <small *ngIf="relationSpouse.errors && relationSpouse.errors['maxlength']">You Have Reached Your
            Maximum.</small>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date Of Birth / जन्म तारीख <span class="text-danger">*</span></ion-label>
        <ion-datetime  displayFormat="DD MMMM, YYYY" picker-format="DD MMMM YYYY" [class.is-invalid]="dobSpouse.invalid && dobSpouse.touched" formControlName="dobSpouse" id="dobSpouse" (ionChange)="calculateAgePersonal()"></ion-datetime>
        <div class="text-danger" *ngIf="dobSpouse.invalid && dobSpouse.touched">
          <small *ngIf="dobSpouse.errors && dobSpouse.errors['required']">Please enter your spouse Date Of
            Birth.</small>
          <!-- <small *ngIf="dobSpouse.errors['ngbDate']['requiredAfter']">Date should be before of todays date</small>
          <small *ngIf="dobSpouse.errors['ngbDate']['invalid']">Enter valid date in (DD/MM/YYYY) format date</small> -->
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age / वय <span class="text-danger">*</span></ion-label>
        <ion-input  type="tel" [class.is-invalid]="ageSpouse.invalid && ageSpouse.touched" maxlength="2" minlength="2" formControlName="ageSpouse" id="ageSpouse"></ion-input>
        <div class="text-danger" *ngIf="ageSpouse.invalid && ageSpouse.touched">
          <small *ngIf="ageSpouse.errors && ageSpouse.errors['min']">The person should be older than 18.</small>
          <small *ngIf="ageSpouse.errors && ageSpouse.errors['max']">The person should be younger than 100.</small>
        </div>
      </ion-item>

      <ion-label>DOCUMENTS REQUIRED(Maximum File Size: 2MB, Format: .pdf, .jpeg, .png):-</ion-label>
      <ion-item>
        <ion-label  class="ion-text-wrap" >1. Marriage Certificate / विवाहचे प्रमाणपत्र .</ion-label>
      </ion-item>
      <ion-item>
        <input  type="file" (change)="getFileDetails($event)" [class.is-invalid]="socialForm2Doc1.invalid && socialForm2Doc1.touched" formControlName="socialForm2Doc1" id="socialForm2Doc1" >
      </ion-item>
          <div class="text-danger" *ngIf="socialForm2Doc1.invalid && socialForm2Doc1.touched">
            <small>Please upload required document.</small>
          </div>

      <ion-item>
        <ion-label class="ion-text-wrap">2. Affidavit for first marriage/पहिल्या विवाहाचे प्रतिज्ञापत्र .</ion-label>
      </ion-item>
      <ion-item>
        <input  type="file" (change)="getFileDetails($event)"  [class.is-invalid]="socialForm2Doc2.invalid && socialForm2Doc2.touched" formControlName="socialForm2Doc2" id="socialForm2Doc2" >
      </ion-item>
          <div class="text-danger" *ngIf="socialForm2Doc2.invalid && socialForm2Doc2.touched">
            <small>Please upload required document.</small>
          </div>

      <ion-item>
        <ion-label class="ion-text-wrap">3. Aadhar card of husband/wife / पती/पत्नी चे आधार कार्ड</ion-label>
      </ion-item>
      <ion-item>
        <input  type="file" (change)="getFileDetails($event)" formControlName="aadharCardDoc" [class.is-invalid]="aadharCardDoc.invalid && aadharCardDoc.touched" id="aadharCardDoc" >
      </ion-item>
          <div class="text-danger" *ngIf="aadharCardDoc.invalid && aadharCardDoc.touched">
            <small>Please upload required document.</small>
          </div>

      <ion-item>
        <ion-label class="ion-text-wrap"> 4. Self-Declaration / स्वयंघोषणापत्र .</ion-label>
      </ion-item>
      <ion-item>
        <input  type="file" (change)="getFileDetails($event)"  [class.is-invalid]="selfDeclaration.invalid && selfDeclaration.touched" formControlName="selfDeclaration" id="selfDeclaration" >
      </ion-item>
        <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
          <small>Please upload required document.</small>
        </div>
        
      <ion-item>
        <ion-checkbox checked="false" slot="start" formControlName="verifyDocumentCheck"></ion-checkbox>
        <ion-label>Documents Verified / कागदपत्र पडताळले</ion-label>
      </ion-item>
      <ion-button mode="ios" expand="block" (click)="saveFormS01()">SAVE</ion-button>
    </ion-list>
  </form>
