<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HEALTH SCHEME NO.2</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-header style="font-size:18px" class="ml-2">{{selectedSchemeName}}</ion-header>

      <ion-item>
        <ion-label position="floating">Select Family Member / कुटुंबातील सदस्य निवडा <span style="color: Red">*</span>
        </ion-label>
        <ion-select interface="action-sheet" formControlName="familyDetail" [class.is-invalid]="familyDetail.invalid && familyDetail.touched"
          id="familyDetail">
          <ion-select-option  *ngFor="let childObject of familyArray; let i = index" [value]="childObject['family_detail_id']">
              {{childObject['firstNameFamily']}} {{childObject['surname']}} / {{childObject['firstNameFamily_mr']}}
              {{childObject['surname_mr']}}
          </ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="familyDetail.invalid && familyDetail.touched">
          <small *ngIf="familyDetail.errors && familyDetail.errors['required']">Please select a family member.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Name of Hospital / रुग्णालयाचे नाव<span style="color: Red">*</span></ion-label>
        <ion-input class="transliterate" (ionBlur)="transliterateValue($event)" type="text" formControlName="nameOfHospital" id="nameOfHospital"
          [class.is-invalid]="nameOfHospital.invalid && nameOfHospital.touched" maxlength="120"></ion-input>
        <div class="text-danger" *ngIf="nameOfHospital.invalid && nameOfHospital.touched">
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['required']">Please enter name of
            hHospital</small>
          <small *ngIf="nameOfHospital.errors && nameOfHospital.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="nameOfHospital_mr.value">
        {{nameOfHospital_mr.value}}
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address of Hospital / रुग्णालयाचे स्थान <span style="color: Red">*</span>
        </ion-label>
        <ion-input class="transliterate" (ionBlur)="transliterateValue($event)" type="text" formControlName="locationOfHospital" id="locationOfHospital"
          [class.is-invalid]="locationOfHospital.invalid && locationOfHospital.touched"></ion-input>
        <div class="text-danger" *ngIf="locationOfHospital.invalid && locationOfHospital.touched">
          <small *ngIf="locationOfHospital.errors && locationOfHospital.errors['required']">Please enter address of
            hospital </small>
          <small *ngIf="locationOfHospital.errors && locationOfHospital.errors['maxlength']">You have reached your
            maximum</small>
        </div>
      </ion-item>
      <ion-item *ngIf="locationOfHospital_mr.value">
        {{locationOfHospital_mr.value}}
      </ion-item>

      <ion-item>
          <ion-icon slot="end" name="calendar"></ion-icon>
          <ion-label position="floating">Date of Treatment / उपचाराची तारीख <span
              style="color: Red">*</span></ion-label>
          <ion-datetime [max]="maxTodaysDate" [min]="minTreatmentDate" displayFormat="DD MMMM, YYYY" formControlName="dateOfOp" id="dateOfOp"
            [class.is-invalid]="dateOfOp.invalid && dateOfOp.touched">
          </ion-datetime>
          <div class="text-danger" *ngIf="dateOfOp.errors && dateOfOp.touched">
            <small>Please enter appropriate date.</small>
          </div>
        </ion-item>
      
      <ion-item>
        <ion-label position="floating">Name of Doctor / डॉक्टरांचे नाव <span style="color: Red">*</span></ion-label>
        <ion-input class="transliterate" (ionBlur)="transliterateValue($event)" type="text" id="nameOfDoctor" [class.is-invalid]="nameOfDoctor.invalid && nameOfDoctor.touched"
          formControlName="nameOfDoctor" maxlength="120">
        </ion-input>
        <div class="text-danger" *ngIf="nameOfDoctor.invalid && nameOfDoctor.touched">
          <small *ngIf="nameOfDoctor.errors && nameOfDoctor.errors['required']">Please enter name of doctor </small>
          <small *ngIf="nameOfDoctor.errors  && nameOfDoctor.errors['maxlength']">You have reached your maximum</small>
          <small *ngIf="nameOfDoctor.errors  && nameOfDoctor.errors['pattern']">Please enter proper name</small>

        </div>
      </ion-item>
      <ion-item *ngIf="nameOfDoctor_mr.value">
        {{nameOfDoctor_mr.value}}
      </ion-item>

      <ion-item>
        <ion-label position="floating">Aadhar Card / आधार कार्ड <span style="color: Red">*</span></ion-label>
        <ion-input readonly type="tel" [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched" maxlength="12"
          minlength="12" formControlName="aadharNumber" id="aadharNumber"></ion-input>
        <div class="text-danger" *ngIf="aadharNumber.invalid && aadharNumber.touched">
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['required']">Please enter your aadhar number.</small>
          <small *ngIf="aadharNumber.errors && aadharNumber.errors['pattern']">Please enter appropriate aadhar number.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Type of Illness/ आजारपणाचा प्रकार <span style="color: Red">*</span></ion-label>
        <ion-select interface="action-sheet" formControlName="typeOfIllness" [class.is-invalid]="typeOfIllness.invalid && typeOfIllness.touched"
          id="typeOfIllness">
          <ion-select-option *ngFor="let list of illness" [value]="list.type">{{ list.type }}</ion-select-option>
        </ion-select>
        <div class="text-danger" *ngIf="typeOfIllness.invalid && typeOfIllness.touched">
          <small *ngIf="typeOfIllness.errors && typeOfIllness.errors['required']">Please select type of illness</small>
        </div>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Bill Amount / बिल रक्कम <span style="color: Red">*</span></ion-label>
        <ion-input type="tel" id="billAmount" maxlength="8"
          [class.is-invalid]="billAmount.invalid && billAmount.touched" formControlName="billAmount"></ion-input>
        <div class="text-danger" *ngIf="billAmount.invalid && billAmount.touched">
          <small *ngIf="billAmount.errors && billAmount.errors['required']">Please enter your amount.</small>
          <small *ngIf="billAmount.errors && billAmount.errors['pattern']">Please enter appropriate amount.</small>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Benefit Amount / मोबदला रक्कम <span style="color: Red">*</span></ion-label>
        <ion-input type="number" disabled id="benefitAmount" [class.is-invalid]="benefitAmount.invalid && benefitAmount.touched"
          formControlName="benefitAmount"></ion-input>
        <div class="text-danger" *ngIf="benefitAmount.invalid && benefitAmount.touched">
          <small *ngIf="benefitAmount.errors && benefitAmount.errors['required']">Please enter your amount.</small>
        </div>
      </ion-item>
      <br>

      <ion-header class="ml-2"><b><u>DOCUMENTS REQUIRED(Maximum File Size: 2MB, Format: .pdf, .jpeg, .png):-</u></b></ion-header>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>1. Certificate issued by Civil Surgeon about illness / सक्षम वैद्यकीय
          अधिका-यांनी आजार असल्याबाबत दिलेले प्रमाणपत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='health2Form2Doc1' (change)="getFileDetails($event)" formControlName="health2Form2Doc1" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="health2Form2Doc1.invalid && health2Form2Doc1.touched">
          <small>Please upload required document.</small>
        </div>


      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>2. Bills for Medical Expenses./ वैद्यकीय खर्चाची पावती </ion-label>
      </ion-item>
      <ion-item>
        <input id='health2Form2Doc2' (change)="getFileDetails($event)" formControlName="health2Form2Doc2" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="health2Form2Doc2.invalid && health2Form2Doc2.touched">
          <small>Please upload required document.</small>
        </div>


      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>3. Self Declaration / स्वयंघोषणापत्र </ion-label>
      </ion-item>
      <ion-item>
        <input id='selfDeclaration' (change)="getFileDetails($event)" formControlName="selfDeclaration" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
          <small>Please upload required document.</small>
        </div>


      <ion-item lines="none">
        <ion-label class="ion-text-wrap" floating>4. Aadhar card Document of Selected Family Member / निवडलेल्या कुटुंब सदस्याचे आधार कार्ड</ion-label>
      </ion-item>
      <ion-item>
        <input id='aadharCardDoc' (change)="getFileDetails($event)" formControlName="aadharCardDoc" type="file" >
      </ion-item>
        <div class="text-danger" *ngIf="aadharCardDoc.invalid && aadharCardDoc.touched">
          <small>Please upload required document.</small>
        </div>

      <ion-item>
          <ion-checkbox formControlName="verifyDocumentCheck" slot="start" checked="false"></ion-checkbox>
          <ion-label>Documents Verified / कागदपत्र पडताळले</ion-label>
        </ion-item>
        
      <ion-button mode="ios" expand="block" (click)="saveForm()">SAVE</ion-button>
    </ion-list>
  </form>
<!-- </ion-content> -->