<ion-header>
  <ion-toolbar color="primary">
    <ion-title>EDUCATIONAL SCHEME NO.1</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
  <form [formGroup]="formGroup">
    <ion-header class="p-2" style="font-size:18px">{{selectedSchemeName}}
    </ion-header>

    <ion-item>
      <ion-label position="floating">Name of Child / मुलाचे/मुलीचे नाव<span class="text-danger">*</span></ion-label>
      <ion-select interface="action-sheet" formControlName="childrenDetail" id="childrenDetail"
        [class.is-invalid]="childrenDetail.invalid && childrenDetail.touched">
        <ion-select-option *ngFor="let childObject of childArray; let i = index" [disabled]="i > '1'"
            [value]="childObject['firstNameFamily']">{{childObject['firstNameFamily']}} {{childObject['surname']}} / 
            {{childObject['firstNameFamily_mr']}} {{childObject['surname_mr']}}
        </ion-select-option>
      </ion-select>
      <div class="text-danger" *ngIf="childrenDetail.invalid && childrenDetail.touched">
        <small *ngIf="childrenDetail.errors && childrenDetail.errors['required']">Please select a child.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Aadhar Card Number / आधार कार्ड क्रमांक <span class="text-danger">*</span>
      </ion-label>
      <ion-input type="tel" formControlName="aadharNumber" id="aadharNumber" minlength="12" maxlength="12" readonly
        [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="aadharNumber.invalid && aadharNumber.touched">
        <small *ngIf="aadharNumber.errors && aadharNumber.errors['required']">Please enter your aadhar card
          number.</small>
        <small *ngIf="aadharNumber.errors && aadharNumber.errors['pattern']">Please enter appropriate aadhar card
          number.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Age / वय <span class="text-danger">*</span></ion-label>
      <ion-input type="tel" formControlName="age" id="age" minlength="1" maxlength="2" readonly
        [class.is-invalid]="age.invalid && age.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="age.invalid && age.touched">
        <small *ngIf="age.errors && age.errors['required']">Please enter your age.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Standard / इयत्ता<span class="text-danger">*</span>
      </ion-label>
      <ion-select interface="action-sheet" formControlName="standard" id="standard" [class.is-invalid]="standard.invalid && standard.touched">
        <ion-select-option *ngFor="let each of getEducationArray" [value]="each.education_level_id">{{each.education_level_en}} /
            {{each.education_level_mr}}
        </ion-select-option>
      </ion-select>
      <div class="text-danger" *ngIf="standard.invalid && standard.touched">
        <small *ngIf="standard.errors && standard.errors['required']">Please select your standard.</small>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">School Name / शाळेचे नाव<span class="text-danger">*</span>
      </ion-label>
      <ion-input formControlName="school" id="school" minlength="3" maxlength="100" clearInput
      [class.is-invalid]="school.invalid && school.touched" class="transliterate" (ionBlur)="transliterateValue($event)">
      </ion-input>
      <div class="text-danger" *ngIf="school.invalid && school.touched">
        <small *ngIf="school.errors && school.errors['required']">Please enter your school's name.</small>
        <small *ngIf="school.errors && school.errors['maxlength']">You have reached your maximum.</small>
      </div>
    </ion-item>
    <ion-item *ngIf="school_mr.value">
      <ion-label>{{school_mr.value}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Address of School / शाळेचा पत्ता<span class="text-danger">*</span>
      </ion-label>
      <ion-input formControlName="placeSchool" id="placeSchool" minlength="10" maxlength="240"
        [class.is-invalid]="placeSchool.invalid && placeSchool.touched" 
        class="transliterate" (ionBlur)="transliterateValue($event)" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="placeSchool.invalid && placeSchool.touched">
        <small *ngIf="placeSchool.errors && placeSchool.errors['required']">Please enter your school's address.</small>
        <small *ngIf="placeSchool.errors && placeSchool.errors['maxlength']">You have reached your maximum.</small>
      </div>
    </ion-item>
    <ion-item *ngIf="placeSchool_mr.value">
      <ion-label>{{placeSchool_mr.value}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Board of Education / शिक्षण मंडळ</ion-label>
      <ion-input formControlName="boardOfEducation" id="boardOfEducation" minlength="3" maxlength="100"
        [class.is-invalid]="boardOfEducation.invalid && boardOfEducation.touched" clearInput>
      </ion-input>
      <div class="text-danger" *ngIf="boardOfEducation.invalid && boardOfEducation.touched">
        <small *ngIf="boardOfEducation.errors && boardOfEducation.errors['required']">Please enter your board of
          education.</small>
        <small *ngIf="boardOfEducation.errors && boardOfEducation.errors['maxlength']">You have reached your
          maximum.</small>
        <small *ngIf="boardOfEducation.errors && boardOfEducation.errors['minlength']">Please enter appropriate board of
          education.</small>
      </div>
    </ion-item>
    <ion-item *ngIf="boardOfEducation_mr.value">
      <ion-label>{{boardOfEducation_mr.value}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Passing Year / उत्तीर्ण झाल्याचे वर्ष<span class="text-danger">*</span></ion-label>
      <ion-input type="tel"  formControlName="year" id="year" clearInput
        [class.is-invalid]="year.invalid && year.touched">
      </ion-input>
      <div class="text-danger" *ngIf="year.invalid && year.touched">
        <small *ngIf="year.errors && year.errors['required']">Please enter your passing year.</small>
        <small *ngIf="year.errors && year.errors['min'] ">Passing year can not be more than a year back of registration year.</small>
        <small *ngIf="year.errors && year.errors['max'] ">Passing year can not be more than current year.</small>
      </div>
    </ion-item>
    <br>

    <ion-item>
      <ion-label style="font-size:15px"><u><b>DOCUMENTS REQUIRED(Maximum File Size: 2MB, Format: .pdf, .jpeg, .png):-</b></u></ion-label><br>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap" floating>1. 75% attendance certificate or Last year's progress report /<br>75% उपस्थिती प्रमाणपत्र किंवा मागील
        वर्षाचा प्रगती अहवाल</ion-label>
    </ion-item>
    <ion-item>
      <input (change)="getFileDetails($event)" formControlName="attendanceCertificate" id="attendanceCertificate" type="file" 
        [class.is-invalid]="attendanceCertificate.invalid && attendanceCertificate.touched">
    </ion-item>
    <div class="text-danger" *ngIf="attendanceCertificate.invalid && attendanceCertificate.touched">
      <small *ngIf="attendanceCertificate.errors && attendanceCertificate.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label class="ion-text-wrap" floating>2. Bonafide certificate of current academic year/<br>चालू शैक्षणिक वर्षाचे बोनाफाईड प्रमाणपत्र
      </ion-label>
    </ion-item>
    <ion-item>
      <input (change)="getFileDetails($event)" formControlName="bonafideDoc" id="bonafideDoc" type="file" 
        [class.is-invalid]="bonafideDoc.invalid && bonafideDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="bonafideDoc.invalid && bonafideDoc.touched">
      <small *ngIf="bonafideDoc.errors && bonafideDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label class="ion-text-wrap" floating>3. Aadhar card of the applicable member/<br> लागू सदस्याचे आधार कार्ड</ion-label>
    </ion-item>
    <ion-item>
      <input (change)="getFileDetails($event)" formControlName="aadharCardDoc" id="aadharCardDoc" type="file" 
        [class.is-invalid]="aadharCardDoc.invalid && aadharCardDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="aadharCardDoc.invalid && aadharCardDoc.touched">
      <small *ngIf="aadharCardDoc.errors && aadharCardDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label class="ion-text-wrap" floating>4. Self Declaration / स्वयंघोषणापत्र</ion-label>
    </ion-item>
    <ion-item>
      <input (change)="getFileDetails($event)" formControlName="selfDeclaration" id="selfDeclaration" type="file" 
        [class.is-invalid]="selfDeclaration.invalid && selfDeclaration.touched">
    </ion-item>
    <div class="text-danger" *ngIf="selfDeclaration.invalid && selfDeclaration.touched">
      <small *ngIf="selfDeclaration.errors && selfDeclaration.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-label class="ion-text-wrap" floating>5. Ration Card / रेशन कार्ड</ion-label>
    </ion-item>
    <ion-item>
      <input (change)="getFileDetails($event)" formControlName="rationCardDoc" id="rationCardDoc" type="file" 
        [class.is-invalid]="rationCardDoc.invalid && rationCardDoc.touched">
    </ion-item>
    <div class="text-danger" *ngIf="rationCardDoc.invalid && rationCardDoc.touched">
      <small *ngIf="rationCardDoc.errors && rationCardDoc.errors['required']">Please upload required
        document.</small>
    </div>

    <ion-item>
      <ion-checkbox formControlName="verifyDocumentCheck" checked="false" color="dark" slot="start"></ion-checkbox>
      <ion-label>Documents Verified</ion-label>
    </ion-item>

    <ion-button mode="ios" expand="block" (click)="saveForm()">SAVE</ion-button>

  </form>
<!-- </ion-content> -->