<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <img src="/assets/logo.png" alt="" />
    <ion-card-content >
      <ion-button mode="ios" routerLink="/verification" expand="block">
        Worker Registration
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-button>

      <ion-button mode="ios" routerLink="/renewal-verification" expand="block">
        Worker Renewal
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-button>
      
      <ion-button mode="ios" routerLink="/claim-management/claim-verification" expand="block">
        Worker Claim
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-button>

      <!-- <ion-button mode="ios" routerLink="/redata-verification" expand="block">
        Re-data Entry
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-button> -->

      <ion-button (click)="logout()" color="danger" mode="ios" expand="block">
        Log-out
        <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>  
    </ion-card-content>
  </ion-card>
  
</ion-content>
